@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,400;0,500;1,300&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

body{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(45deg, #9c08f1, #d8d527ea);
}

.calculator{
    border: 2px solid #717377;
    padding: 20px;
    border-radius: 16px;
    background: linear-gradient(0deg, #ffffff, #000000);
    box-shadow: 4px 10px 20px rgba(113, 115, 119, 0.5);
}

input{
    width: 320px;
    border: none;
    padding: 20px;
    margin: 5px;
    background: transparent;
    box-shadow: 4px 10px 20px rgbs(84, 84, 84, 0.1);
    font-size: 45px;
    text-align: right;
    cursor: pointer;
    color: #ffffff
}

input::placeholder{
    color: #ffffff;
    background-color: transparent;
}

button{
    border: none;
    width: 60px;
    height: 60px;
    margin: 10px;
    border-radius: 50%;
    background: gray;
    color: #ffffff;
    font-size: 20px;
    box-shadow: -8px -8px 15px rgba(255, 255, 255, 0.1);
    cursor: pointer;
}

.equalBtn{
    background-color: mediumaquamarine;
    color: #000000;
}

.operator{
    color: #000000;
    background-color: tan;
    
}

